<p>This is home route</p>
<p>{{welcomeNote}}</p>
<p id="callbackDiv">Callback div</p>
{{#link-to "volume-dashboard"}}VolumeDashBoard{{/link-to}} {{ember-component options=model.options onSampleCallBack=(action
"sampleCallback")}}