<p>Welcome {{model.userDetails.username}}</p>
<p>This is home route.</p>
<p>{{welcomeNote}}</p>
{{#if showCallBack}}
<p id="callbackDiv">Callback div</p>
{{/if}} {{ember-component options=model.options onSampleCallBack=(action "sampleCallback")}}