<p>This is home route</p>
<p>Values From ember Data:</p>
<p>{{welcomeNote}}</p>
{{#if showCallBack}}
<p id="callbackDiv">Callback div</p>
{{/if}} {{ember-component options=model.options onSampleCallBack=(action "sampleCallback")}}