<p>Login Page</p>
<label>Username:</label>
{{input type="text" value=Username placeholder="Username"}}
<label>Password:</label>
{{input type="password" value=password placeholder="Password"}}
<input type="button" value="Login" {{action "onLogin"}}/>