<h1>Volume Details</h1>
<table style="border:1px solid black">
    <tr>
        <th>Title</th>
        <th>Agent type</th>
        <th>Volume Size</th>
    </tr>
    <tr>
        <td>{{model.title}}</td>
        <td>{{model.agenttype}}</td>
        <td>{{model.volumesize}}</td>
    </tr>
</table>